<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>메인 페이지</title>
  <!-- static설정을 하여 /public/이 자동적용됨 생략가능 -->
  <link rel="stylesheet" href="/CSS/style.css" />
  <script defer src="/JS/main.js"></script>
 </head>
 <body>
  <h1>메인 페이지 입니다!</h1>
  <p><%= msg %></p>
  <img src="/Images/다운로드.jpeg" alt="강아지" />
 </body>
</html>